html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.body {
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0px;
  background-color: white;
}

h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  margin: 0px;
}

.main-index h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  margin: 0px;
  padding-bottom: 50px;
}

.list-flex, .team-card .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container, .header-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #212121;
  display: block;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  margin-right: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-logo span {
  color: #212121;
}

.nav-logo:hover,
.nav-logo :focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list .link {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .link:hover,
.nav-list .link :focus {
  color: #2196f3;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.current {
  color: #2196f3;
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.nav-contacts .item + .item {
  margin-left: 30px;
}

.nav-contacts .link {
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts .link:hover,
.nav-contacts .link :focus {
  color: #2196f3;
}

.nav-contacts .link:hover .icon-mail,
.nav-contacts .link :focus .icon-mail {
  fill: #2196f3;
}

.nav-contacts .link:hover .icon-tel,
.nav-contacts .link :focus .icon-tel {
  fill: #2196f3;
}

.icon-mail,
.icon-tel {
  color: #757575;
  fill: currentColor;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header.jpg);
  background-color: #f5f4fa;
  max-width: 1600px;
  height: 600px;
  margin: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: white;
  margin: 0px auto 50px auto;
  width: 646px;
  letter-spacing: 0.06em;
  padding-top: 200px;
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: white;
  background-color: #2196f3;
  border: #2196f3;
  border-radius: 3px;
  min-width: 200px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.hero-button:hover,
.hero-button :focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list .list-item {
  width: 270px;
}

.features-list h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.features-list p {
  color: #757575;
  font-weight: 400;
  line-height: 1.7;
  margin: 0px;
}

.features-list .list-item::before {
  content: "";
  display: block;
  background: #f5f4fa;
  background-repeat: no-repeat;
  width: 270px;
  height: 120px;
  background-position: center;
  border-radius: 4px;
}

.features-list .icon-antena::before {
  background-image: url(../images/antenna.svg);
}

.features-list .icon-clock::before {
  background-image: url(../images/clock.svg);
}

.features-list .icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.features-list .icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.feature-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  margin: 0px;
  padding-bottom: 50px;
  display: none;
}

.features-work {
  border-top: 1px solid #ececec;
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-work .list-item {
  width: 370px;
}

.product-action {
  position: relative;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-action:hover,
.product-action :focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.product-action .product-name {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
  color: white;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  margin: 0px;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
}

.team-card {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-card h3 {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.team-card p {
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  color: #757575;
  font-size: 16px;
}

.team-card .social {
  margin-left: 35px;
  margin-right: 35px;
}

.team-social-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link :focus {
  background-color: #2196f3;
  color: white;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.team-list .list-item {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list .list-item:hover,
.team-list .list-item :focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-link {
  width: 170px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #afb1b8;
  fill: currentColor;
  border: 1px solid currentColor;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link :focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=main.css.map */