/*цвет основного текста #212121;
вторичный цвет текста #757575
цвет акцента #2196F3
вторичный цвет макета #F5F4FA
цвет подвала #2F303A*/

/*--header--*/

/*hero*/

/*features*/

/*-------work------*/

/*section-team*/

.team-list .list-item
/*clients*/


.clients-link

/*footer*/




.footer-button

/*----------------------------------PORTFOLIO---------------------------------*/


/*-----------------------MODAL-----------------------------------*/
=

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
}

.modal p {
  margin: 0px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.js-speaker-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.js-speaker-form label {
  color: var(--secondary-text-color);
}
.form-field {
  position: relative;
  width: 100%;
  margin-bottom: 28px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.comment {
  margin-bottom: 20px;
}
.textarea {
  resize: none;
  width: 100%;
  padding: 12px 0 0 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.comment .textarea-label {
  position: absolute;
  top: 20px;
  left: 16px;
}

.form-field .form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: var(--accent-color);
  transform: translate(-26px, -40px);
}

.form-field .textarea:focus + .textarea-label,
.form-input:not(:placeholder-shown) + .textarea-label {
  color: var(--accent-color);
  transform: translateY(-40px);
}
.form-input:focus ~ .icon-modal {
  fill: var(--accent-color);
}
.form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.icon-modal {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  margin-right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-speaker-form .checkbox {
  position: relative;
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-label {
  display: flex;
  margin-left: auto;
}
.icon-check {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1.5px solid black;
  border-radius: 4px;
  margin-right: 8px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-label > .icon-check {
  background-image: url(../images/icon-check.svg);
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}
.form-button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  padding: 10px 55px;
  color: white;
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-button-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  transform: translate(-25%, 25%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
}
.close-icon {
  width: 11px;
  height: 11px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button-close:hover > .close-icon {
  fill: var(--accent-color);
  transform: rotate(90deg);
}
.form-link {
  text-decoration: underline;
  color: var(--accent-color);
}
